.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height:90vh;
  /* margin-top: 200px; */
}
.counter{
  width: 30%;
  border: 3px solid red;
  background-color: yellow;
  color:red;
  padding:40px 0;
}
button{
  border:none;
  border-radius: 8px;
  color:white;
  font-weight: 700%;
  font-size: 20px;
   padding:5px 10px;
   cursor: pointer;
  
}
#inc{
  background-color:green;

}
#dec{
  background-color: red;
  
}
.btnContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:50px;
}
.pos{
  color:green;
}

.neg{
  color:red;
}

